# Figma Access Token (Get from Figma Settings > Account > Personal Access Tokens)
FIGMA_ACCESS_TOKEN=your_token_hereC0nuevN8raXW4I6yTsodAvbFKlr-P0nSyNksTZMR


# Test Figma File Key (from URL: figma.com/file/KEY/...)
TEST_FIGMA_FILE_KEY=EvD0YUzKQaq1Z2mo9ZTBTt
